<footer class="footer">

    <div class="footer-container">

        <div class="footer-brand">

            Bloodveil Dawn

        </div>

        <div class="footer-links">

            <a
                href="#">

                Discord

            </a>

            <a
                href="#">

                X

            </a>

            <a
                href="#">

                Instagram

            </a>

            <a
                href="#">

                YouTube

            </a>

        </div>

        <div class="footer-copyright">

            © 2026 Scinister

        </div>

    </div>

</footer>