<header class="header">

    <div class="header-container">

        <a
            href="index.html"
            class="header-logo">

            Bloodveil Dawn

        </a>

        <button
            id="headerMenuButton"
            class="header-menu-button"
            aria-label="Toggle Navigation">

            ☰

        </button>

        <nav
            id="headerNavigation"
            class="header-navigation">

            <a
                href="index.html"
                class="header-link">

                Home

            </a>

            <a
                href="chapter.html"
                class="header-link">

                Chapters

            </a>

            <a
                href="character.html"
                class="header-link">

                Characters

            </a>

            <a
                href="world.html"
                class="header-link">

                World

            </a>

            <a
                href="support.html"
                class="header-link">

                Support

            </a>

        </nav>

    </div>

</header>