<header class="header">

    <div class="header-container">

        <a
            href="index.html"
            class="logo">

            Bloodveil

        </a>

        <button
            class="menu-btn"
            id="menuBtn">

            ☰

        </button>

        <nav
            class="navbar"
            id="navbar">

            <a href="index.html" class="nav-link">
                Home
            </a>

            <a href="chapter.html" class="nav-link">
                Chapter
            </a>

            <a href="character.html" class="nav-link">
                Character
            </a>

            <a href="world.html" class="nav-link">
                World
            </a>

            <a href="support.html" class="nav-link">
                Support
            </a>

        </nav>

    </div>

</header>