.header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

background:#111;

}

.logo{

color:white;

font-size:24px;

}

.navbar{

display:flex;

gap:20px;

}

.nav-link{

color:white;

text-decoration:none;

transition:0.3s;

}

.nav-link:hover{

color:red;

}

.active{

color:red;

font-weight:bold;

}